#navbar {
    background-color: #333;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    padding: 10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar li {
    margin: 0 10px;
    font-size: x-large;
}
#navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: font-size 0.3s ease;
}
#navbar a:hover {
    font-size: 43px;
}



  
 /* assets/css/dairy.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 15px;
  }
  
/* assets/css/dairy.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 15px;
  }
  
  .dairyList {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #addBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }
  
  .card {
    flex: 0 0 calc(30% - 20px);
    background-color: #fff;
    padding: 15px;
    margin: 0 10px 20px 0;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .card span {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .deleteBtn,
  .editBtn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .editBtn {
    background-color: #3498db;
    margin-left: 5px;
  }
  
  
  
  
  